title.title-bar {
    text-align: center;
    background-color: antiquewhite;
    color: blue;
    
}

body {

    background-color: aquamarine;
    border-radius: 12px;
    
}

div { background-color: azure;
    text-align: center;
    


}

button {
background-color: blue;

}

.button-style {
    background-color: rgb(168, 145, 145);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-div {
    background-color: sandybrown;
}