title.title-bar {
    text-align: center;
    background-color: antiquewhite;
    color: blue;
    
}

body {

    background-color: aquamarine;
    border-radius: 12px;
    
}

div { background-color: azure;
    text-align: center;
    }

.questions{

background-color: lightslategrey;
margin: 20px;
height: 80px;

}

.correct-incorrect{
    background-color: blue;
    margin: 80px;
}
button {
background-color: blue;

}

.button-style {
    background-color: rgb(168, 145, 145);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.start-div {
    background-color: sandybrown;
    border: 18px;
    padding: 18px;
    width: auto;
    height: auto;
    margin-top:100px;
}

.userInput {
    background-color: darkseagreen;
    margin: 80px;
}

